{% extends 'base.html' %}
{% block title %}Бронювання кімнати{% endblock %}

{% block body %}
<h1>Бронювання кімнати {{ room.number }}</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Підтвердити бронювання</button>
</form>

{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}
