{% extends 'base.html' %}

{% block title %}
Список готелів
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2>Наші готелі</h2>

    <div class="row mt-4">
        {% for hotel in hotels_list %}
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card" style="width: 100%;">
                            <div class="img-container d-flex justify-content-center align-items-center" style="height: 200px; overflow: hidden;">
                                {% if hotel.image %}
                                    <img src="{{ hotel.image.url }}" alt="Image" style="height: 250px; object-fit: cover;">
                                {% else %}
                                    <img src="https://via.placeholder.com/250" alt="Default Image" style="height: 250px; object-fit: cover;">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ hotel.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Оцінка: {{ hotel.rating }}</h6>
                                <p class="card-text">{{ hotel.description }}</p>
                                <a href="{% url 'hotel_rooms_list_details' hotel.id %}" class="btn btn-primary">Переглянути кімнати</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
        <p>Готелі не знайдено.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
