{% extends 'base.html' %}

{% block title %}
    Логін
{% endblock %}

{% block body %}
<main class="d-flex justify-content-center align-items-center vh-100 text-custom">
    <form method="POST" class="text-center" style="width: 100%; max-width: 330px;">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Логін</h1>

        <!-- Відображення повідомлень про помилки -->
        {% if messages %}
            <div class="alert alert-danger mt-3">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Відображення форми входу -->
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary w-100 py-2 mt-3">Увійти</button>

    </form>
</main>
{% endblock %}
